@model IEnumerable<ISM_MAINTENANCE.Models.ViewModel.MaintenanceResultView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int NomorBaris = 0;
}

<div class="card">
    <div class="card-header bg-primary">
        <div class="text-white fs-6 fw-bold">Maintenance Result</div>
    </div>

    <div class="card-body">
        <div class="col-md-4 col-xl-3">
            <a href="@Url.Action("Create", "MaintenanceResult" )" class="btn btn-rounded btn-outline-primary">
                Add New
            </a>
        </div>

        <div class="table-responsive">
            <table id="" class="display table-sm text-nowrap">
                <thead class="header-item">
                    <tr>
                        <th style="text-align:center">
                            No
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MaintenanceSlip)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.mtc_ser_no)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.machine_no)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.mtc_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.mtc_pic_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>

                       

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- start row -->
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center">
                                @(NomorBaris += 1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaintenanceSlip)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.mtc_ser_no)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.machine_no)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.mtc_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.mtc_pic_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                           
                            <td>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.dept_id.ToString() + ";" + item.mc_id.ToString() + ";" + item.mtc_slip_no1.ToString() + ";" + item.mtc_slip_no2.ToString() }, new { @class = "badge rounded-pill bg-primary-subtle text-primary" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.dept_id.ToString() + ";" + item.mc_id.ToString() + ";" + item.mtc_slip_no1.ToString() + ";" + item.mtc_slip_no2.ToString() }, new { @class = "badge rounded-pill bg-danger-subtle text-danger" })*@
                            </td>
                        </tr>
                    }

                    <!-- end row -->


                </tbody>
            </table>
        </div>
    </div>
</div>

