<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header" style="border-bottom:2px solid;border-bottom-color: rgba(165, 173, 179, 0.3);">
                <span class="font-medium fw-semibold card-title" style="font-size:15px">Weaving - Grey (MTR)</span>
            </div>
            <div class="card-body">
                @*<h5 class="badge bg-primary rounded-2 fw-semibold">Weaving</h5>*@
                @*<span class="font-medium fw-semibold card-title" style="font-size:15px">Weaving</span>*@
                @*<h5 class="card-title fw-semibold">Weaving</h5>*@
                <div class="row align-items-center">
                    <div class="col-6 ">
                        <div style="display:flex;justify-content:center;">
                            <div class="fw-bold py-1 w-85" style="text-align:left;padding-left:15px">
                                Warehousing
                            </div>
                        </div>
                        <div id="chart_WV_WH" style="min-height:200PX;display:flex;justify-content:center;"></div>
                        <div class="" style="display:flex;justify-content:center;">
                            @*<a href="#" class="btn btn btn-outline-dark">Detail</a>*@
                            <button type="button" class="btn btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#ModalForWVWH">Detail</button>
                            <!-- Modal -->
                            <div class="modal fade" id="ModalForWVWH" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-fullscreen">
                                    <div class="modal-content">
                                        <div class="modal-header modal-colored-header bg-primary">
                                            <h5 class="modal-title text-white" id="exampleModalLabel">Weaving - Grey Warehousing</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="font-family:Arial">
                                            <div class="table-responsive">
                                                <table id="WV-WH" class="display" style="width:100%">
                                                    <thead>
                                                        <!-- start row -->
                                                        <tr>
                                                            <th scope="col" colspan="1" rowspan="2">Item</th>
                                                            <th scope="col" colspan="3" rowspan="1" class="text-center" data-dt-order="disable">Until Today</th>
                                                            <th scope="col" colspan="2" rowspan="1" class="text-center" data-dt-order="disable">This Month Total</th>
                                                        </tr>

                                                        <tr>
                                                            <th scope="col" class="text-end">Percentage</th>
                                                            <th scope="col" class="text-end">Plan</th>
                                                            <th scope="col" class="text-end">Actual</th>
                                                            <th scope="col" class="text-end">Tot Plan</th>
                                                            <th scope="col" class="text-end">Curr Inv</th>
                                                        </tr>
                                                        <!-- end row -->
                                                    </thead>
                                                    <tbody>
                                                        <!-- start row -->
                                                        @*@if (ViewBag.Count_Detail_WH_WV == 0)*@
                                                        @if (ViewBag.Detail_WH_WV == null)
                                                        {
                                                            <tr>
                                                                <th scope="row">-</th>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            foreach (var data in ViewBag.Detail_WH_WV)
                                                            {
                                                                <tr>
                                                                    <td>@data.Item</td>
                                                                    <td class="text-end">@data.Persentase.ToString("#,##0.00") %</td>
                                                                    <td class="text-end">@data.Plan.ToString("#,##0.00")</td>
                                                                    <td class="text-end">@data.Actual.ToString("#,##0.00")</td>
                                                                    <td class="text-end">@data.PlanofMonth.ToString("#,##0.00")</td>
                                                                    <td class="text-end">@data.CurrentInv.ToString("#,##0.00")</td>
                                                                </tr>
                                                            }
                                                        }

                                                        <!-- end row -->
                                                    </tbody>
                                                    <tfoot>
                                                        @*@if (ViewBag.Count_SubtotalPlan_WH_WV == 0)*@
                                                        @if (ViewBag.SubtotalPlan_WH_WV == null)
                                                        {
                                                            <tr>
                                                                <th scope="row">Total (Planned)</th>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            foreach (var data in ViewBag.SubtotalPlan_WH_WV)
                                                            {
                                                                <tr>
                                                                    <th scope="row">@data.Item</th>
                                                                    <td class="text-end fw-bolder">@data.Persentase.ToString("#,##0.00") %</td>
                                                                    <td class="text-end fw-bolder">@data.Plan.ToString("#,##0.00")</td>
                                                                    <td class="text-end fw-bolder">@data.Actual.ToString("#,##0.00")</td>
                                                                    <td class="text-end fw-bolder">@data.PlanofMonth.ToString("#,##0.00")</td>
                                                                    <td class="text-end fw-bolder">@data.CurrentInv.ToString("#,##0.00")</td>
                                                                    <!--<td>0</td>
                                                                    <td>0</td>-->
                                                                </tr>
                                                            }
                                                        }

                                                        @*@if (ViewBag.Count_SubtotalAll_WH_WV == 0)*@
                                                        @if (ViewBag.SubtotalAll_WH_WV == null)
                                                        {
                                                            <tr>
                                                                <th scope="row">Total (All)</th>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            foreach (var data in ViewBag.SubtotalAll_WH_WV)
                                                            {
                                                                <tr>
                                                                    <th scope="row">@data.Item</th>
                                                                    <td class="text-end fw-bolder">@data.Persentase.ToString("#,##0.00") %</td>
                                                                    <td class="text-end fw-bolder">@data.Plan.ToString("#,##0.00")</td>
                                                                    <td class="text-end fw-bolder">@data.Actual.ToString("#,##0.00")</td>
                                                                    <td class="text-end fw-bolder">@data.PlanofMonth.ToString("#,##0.00")</td>
                                                                    <td class="text-end fw-bolder">@data.CurrentInv.ToString("#,##0.00")</td>
                                                                    <!--<td>0</td>
                                                                    <td>0</td>-->
                                                                </tr>
                                                            }
                                                        }

                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div style="display:flex;justify-content:center;">
                            <div class="fw-bold py-1 w-85" style="text-align:left;padding-left:15px">
                                Dyeing Input
                            </div>
                        </div>
                        <div id="chart_WV_Act" style="min-height:200px;display:flex;justify-content:center;"></div>
                        <div class="" style="display:flex;justify-content:center;">
                            @*<a href="#" class="btn btn btn-outline-dark">Detail</a>*@
                            <button type="button" class="btn btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#ModalForWVUsage">Detail</button>
                            <!-- Modal -->
                            <div class="modal fade" id="ModalForWVUsage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-fullscreen">
                                    <div class="modal-content">
                                        <div class="modal-header modal-colored-header bg-primary">
                                            <h5 class="modal-title text-white" id="exampleModalLabel">Weaving - Dyeing Input</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="font-family:Arial">
                                            <div class="table-responsive">
                                                <table id="WV-CONSUME" class="display" style="width:100%">
                                                    <thead>
                                                        <!-- start row -->
                                                        <tr>
                                                            <th scope="col" colspan="1" rowspan="2">Item</th>
                                                            <th scope="col" colspan="3" rowspan="1" class="text-center" data-dt-order="disable">Until Today</th>
                                                            <th scope="col" colspan="2" rowspan="1" class="text-center" data-dt-order="disable">This Month Total</th>
                                                        </tr>

                                                        <tr>
                                                            <th scope="col" class="text-end">Percentage</th>
                                                            <th scope="col" class="text-end">Plan</th>
                                                            <th scope="col" class="text-end">Actual</th>
                                                            <th scope="col" class="text-end">Tot Plan</th>
                                                            <th scope="col" class="text-end">Curr Inv</th>
                                                        </tr>
                                                        <!-- end row -->
                                                    </thead>
                                                    <tbody>
                                                        <!-- start row -->
                                                        @*@if (ViewBag.Count_Detail_Usage_WV == 0)*@
                                                        @if (ViewBag.Detail_Usage_WV == null)
                                                        {
                                                            <tr>
                                                                <th scope="row">-</th>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            foreach (var data in ViewBag.Detail_Usage_WV)
                                                            {
                                                                <tr>
                                                                    <td>@data.Item</td>
                                                                    <td class="text-end">@data.Persentase.ToString("#,##0.00") %</td>
                                                                    <td class="text-end">@data.Plan.ToString("#,##0.00")</td>
                                                                    <td class="text-end">@data.Actual.ToString("#,##0.00")</td>
                                                                    <td class="text-end">@data.PlanofMonth.ToString("#,##0.00")</td>
                                                                    <td class="text-end">@data.CurrentInv.ToString("#,##0.00")</td>
                                                                </tr>
                                                            }
                                                        }

                                                        <!-- end row -->
                                                    </tbody>
                                                    <tfoot>
                                                        @*@if (ViewBag.Count_SubtotalPlan_Usage_WV == 0)*@
                                                        @if (ViewBag.SubtotalPlan_Usage_WV == null)
                                                        {
                                                            <tr>
                                                                <th scope="row">Total (Planned)</th>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            foreach (var data in ViewBag.SubtotalPlan_Usage_WV)
                                                            {
                                                                <tr>
                                                                    <th scope="row">@data.Item</th>
                                                                    <td class="text-end fw-bolder">@data.Persentase.ToString("#,##0.00") %</td>
                                                                    <td class="text-end fw-bolder">@data.Plan.ToString("#,##0.00")</td>
                                                                    <td class="text-end fw-bolder">@data.Actual.ToString("#,##0.00")</td>
                                                                    <td class="text-end fw-bolder">@data.PlanofMonth.ToString("#,##0.00")</td>
                                                                    <td class="text-end fw-bolder">@data.CurrentInv.ToString("#,##0.00")</td>
                                                                    <!--<td>0</td>
                                                                    <td>0</td>-->
                                                                </tr>
                                                            }
                                                        }

                                                        @*@if (ViewBag.Count_SubtotalAll_Usage_WV == 0)*@
                                                        @if (ViewBag.SubtotalAll_Usage_WV == null)
                                                        {
                                                            <tr>
                                                                <th scope="row">Total (All)</th>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            foreach (var data in ViewBag.SubtotalAll_Usage_WV)
                                                            {
                                                                <tr>
                                                                    <th scope="row">@data.Item</th>
                                                                    <td class="text-end fw-bolder">@data.Persentase.ToString("#,##0.00") %</td>
                                                                    <td class="text-end fw-bolder">@data.Plan.ToString("#,##0.00")</td>
                                                                    <td class="text-end fw-bolder">@data.Actual.ToString("#,##0.00")</td>
                                                                    <td class="text-end fw-bolder">@data.PlanofMonth.ToString("#,##0.00")</td>
                                                                    <td class="text-end fw-bolder">@data.CurrentInv.ToString("#,##0.00")</td>
                                                                    <!--<td>0</td>
                                                                    <td>0</td>-->
                                                                </tr>
                                                            }
                                                        }
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
