
@{
    ViewBag.Title = "Finishgoods Stock";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    var donutchartTRSpunPoly = '@ViewBag.strDonutChart_TR_SpunPoly';
    var donutJson_TRSpunPoly = JSON.parse(donutchartTRSpunPoly);

    var donutchartDom_Exp = '@ViewBag.strDonutChart_Dom_Exp';
    var donutJson_Dom_Exp = JSON.parse(donutchartDom_Exp);

    var donutchartPass_NonPass = '@ViewBag.strDonutChart_Pass_NonPass';
    var donutJson_Pass_NonPass = JSON.parse(donutchartPass_NonPass);

    var barchart_Pass_NonPass = '@ViewBag.strBarChartPassNonPass';
    var BarJson_Pass_NonPass = JSON.parse(barchart_Pass_NonPass);


</script>


<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    window.onresize = doALoadOfStuff;
    function doALoadOfStuff() {
        drawChart();
    }

    function drawChart() {
        var w = window.innerWidth;
        var h = window.innerHeight;
        var f_size = 0;
        var f_size_legend = 0;
        var tinggi_chart = '';
        var tinggi_chart_area = '';

        if (w < 500) {
            f_size = 5;
            f_size_legend = 8;
            tinggi_chart = 80;
            tingi_chart_area = '100%';
        }
        else {
            f_size = 10;
            f_size_legend = 12;
            tinggi_chart = 300;
            tinggi_chart_area = '50%';
        }

        var Donut_TRSpunPoly = new google.visualization.DataTable();
        Donut_TRSpunPoly.addColumn('string', 'Grade');
        Donut_TRSpunPoly.addColumn('number', 'Value');
        Donut_TRSpunPoly.addRows(donutJson_TRSpunPoly);
        Donut_TRSpunPoly.getFilteredRows([{ column: 1, minValue: 0.00001 }]);

        var Donut_TRSpunPoly_options =
       {
           chartArea: { top: '3%', left: '2%', right:'2%', bottom:'3%', height: tinggi_chart_area },
           legend: {
               textStyle: { fontSize: f_size_legend },
               //position: 'right',
               position: 'labeled',               
               maxLines: 20

           },
           width: '100%',
           height: tinggi_chart,
           pieHole: 0.5,
           fontSize: f_size,
           pieSliceText: 'none',
           colors: ['#A1C2F1', '#FF8989', '#ff9f40', '#ffcd56', '#4bc0c0', '#9966ff', '#c9cbcf']
           //colors: ['#dc3912', '#3366cc']
       };


        // Reformat our data.
        var count = Donut_TRSpunPoly.getNumberOfRows();
        var values = Array(count).fill().map(function (v, i) {
            return Donut_TRSpunPoly.getValue(i, 1);
        });

        values.forEach(function (v, i) {
            var key = Donut_TRSpunPoly.getValue(i, 0);
            var val = Donut_TRSpunPoly.getValue(i, 1);
            Donut_TRSpunPoly.setFormattedValue(i, 0, key + ' : ' + val.toLocaleString('en-US') + ' MTR');
        });

        var chart = new google.visualization.PieChart(document.getElementById('donut_trspunpoly'));
        chart.draw(Donut_TRSpunPoly, Donut_TRSpunPoly_options);

        //dom_exp
        var Donut_Dom_Exp = new google.visualization.DataTable();
        Donut_Dom_Exp.addColumn('string', 'Grade');
        Donut_Dom_Exp.addColumn('number', 'Value');
        Donut_Dom_Exp.addRows(donutJson_Dom_Exp);
        Donut_Dom_Exp.getFilteredRows([{ column: 1, minValue: 0.00001 }]);

        var Donut_Dom_Exp_options =
       {
           chartArea: { top: '3%', left: '2%', right: '2%', bottom: '3%', height: tinggi_chart_area },
           legend: {
               textStyle: { fontSize: f_size_legend },
               //position: 'right',
               position: 'labeled',
               maxLines: 20

           },
           width: '100%',
           height: tinggi_chart,
           pieHole: 0.5,
           pieSliceText: 'none',
           fontSize: f_size,
           colors: ['#A1C2F1', '#FF8989', '#ff9f40', '#ffcd56', '#4bc0c0', '#9966ff', '#c9cbcf'], //colors: ['#dc3912', '#3366cc']

       };

        // Reformat our data.
        var count = Donut_Dom_Exp.getNumberOfRows();
        var values = Array(count).fill().map(function (v, i) {
            return Donut_Dom_Exp.getValue(i, 1);
        });

        values.forEach(function (v, i) {
            var key = Donut_Dom_Exp.getValue(i, 0);
            var val = Donut_Dom_Exp.getValue(i, 1);
            Donut_Dom_Exp.setFormattedValue(i, 0, key + ' : ' + val.toLocaleString('en-US') + ' MTR');
        });

        var chart = new google.visualization.PieChart(document.getElementById('donut_dom_exp'));
        chart.draw(Donut_Dom_Exp, Donut_Dom_Exp_options);

        //Pass_NonPass
        var Donut_Pass_NonPass = new google.visualization.DataTable();
        Donut_Pass_NonPass.addColumn('string', 'Grade');
        Donut_Pass_NonPass.addColumn('number', 'Value');
        Donut_Pass_NonPass.addRows(donutJson_Pass_NonPass);
        Donut_Pass_NonPass.getFilteredRows([{ column: 1, minValue: 0.00001 }]);

        var Donut_Pass_NonPass_options =
       {
           chartArea: { top: '3%', left: '2%', right: '2%', bottom: '3%', height: tinggi_chart_area },
           legend: {
               textStyle: { fontSize: f_size_legend },
               //position: 'right',
               position: 'labeled',
               maxLines: 20

           },
           pieHole: 0.5,
           width: '100%',
           height: tinggi_chart,
           fontSize: f_size,
           pieSliceText: 'none',
           colors: ['#A1C2F1', '#FF8989', '#ff9f40', '#ffcd56', '#4bc0c0', '#9966ff', '#c9cbcf']
           //colors: ['#dc3912', '#3366cc']
       };

        // Reformat our data.
        var count = Donut_Pass_NonPass.getNumberOfRows();
        var values = Array(count).fill().map(function (v, i) {
            return Donut_Pass_NonPass.getValue(i, 1);
        });

        values.forEach(function (v, i) {
            var key = Donut_Pass_NonPass.getValue(i, 0);
            var val = Donut_Pass_NonPass.getValue(i, 1);
            Donut_Pass_NonPass.setFormattedValue(i, 0, key + ' : ' + val.toLocaleString('en-US') + ' MTR');
        });

        var chart = new google.visualization.PieChart(document.getElementById('donut_pass_nonpass'));
        chart.draw(Donut_Pass_NonPass, Donut_Pass_NonPass_options);

        var barchartPassNonPass = new google.visualization.DataTable();
        barchartPassNonPass.addColumn('string', 'Item');
        barchartPassNonPass.addColumn('number', 'Pass');
        barchartPassNonPass.addColumn('number', 'NonPass');
        barchartPassNonPass.addColumn({ type: 'number', role: 'style' });
        barchartPassNonPass.addRows(BarJson_Pass_NonPass);

        barchartPassNonPass.sort({ column: 3, desc: true });

        //replace value zero(0) with null column Pass
        var foundRows = barchartPassNonPass.getFilteredRows([{ column: 1, value: 0 }]);
        for (var y = 0, maxrows = foundRows.length; y < maxrows; y++) {
            barchartPassNonPass.setValue(foundRows[y], 1, null);
        }

        //replace value zero(0) with null column NonPass
        foundRows = [];
        foundRows = barchartPassNonPass.getFilteredRows([{ column: 2, value: 0 }]);
        for (var y = 0, maxrows = foundRows.length; y < maxrows; y++) {
            barchartPassNonPass.setValue(foundRows[y], 2, null);
        }

        var view = new google.visualization.DataView(barchartPassNonPass);
        view.setColumns([0, 1,
                         {
                             calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation"
                         },
                         2,
                         {
                             calc: "stringify",
                             sourceColumn: 2,
                             type: "string",
                             role: "annotation"
                         },
                         3,
                         {
                             calc: "stringify",
                             sourceColumn: 3,
                             type: "string",
                             role: "style"
                         }

                        ]);



        var barchartPassNonPass_option = {
            chartArea: { left: '15%', right: '5%', width: '100%', height: '80%', top: '5%', fontSize: 6 },
            bar: {
                groupWidth: "75%"
            },
            legend: { position: 'none' },
            isStacked: true,
            //seriesType: 'bars',
            fontSize: 10,
            colors: ['#FF8989', '#A1C2F1', '#ff9f40', '#ffcd56', '#4bc0c0', '#9966ff', '#c9cbcf'],
            annotations: {
                textStyle: {
                    fontSize: 8,
                    fontName: 'Muli',
                    bold: false,
                    color: 'black',
                },
                series: {
                    0: {annotations: { stem: {length: 0},},},
                    1: {annotations: {stem: {length: 2}},},
                    2: { annotations: { stem: { length: 16} }, },
                    3: { annotations: { stem: { length: 16} }, },

                },
            },
            hAxis:{gridlines: { count: 5 }},
        };

        var chart = new google.visualization.BarChart(document.getElementById('barchart_pass_nonpass'));
        chart.draw(view, barchartPassNonPass_option);

    }

</script>

@*<div class="container-fluid">
    <h1 class="h5 mb-1 text-gray-800">Finish Good Stock</h1>
    <p class="mb-4">
        Total Finish Good : @ViewBag.strTotalFinishgood MTR
    </p>

    <div class="row">

        <div class="col mb-1">
            <div class="card shadow">
                <a href="#collapseDonutrspunpoly" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseDonuttrspunpoly">
                    <h6 class="m-0 font-weight-bold text-primary">TR Spun Poly</h6>
                </a>
                <div class="collapse show" id="collapseDonutrspunpoly">
                    <div class="card-body">
                        <div id="donut_trspunpoly"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-1">
            <div class="card shadow ">
                <a href="#collapseDonutdom_exp" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseDonutdom_exp">
                    <h6 class="m-0 font-weight-bold text-primary">Domestic Export</h6>
                </a>
                <div class="collapse show" id="collapseDonutdom_exp">
                    <div class="card-body">
                        <div id="donut_dom_exp" ></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col mb-1">
            <div class="card shadow">
                <a href="#collapsepass_nonpass" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapsepass_nonpass">
                    <h6 class="m-0 font-weight-bold text-primary">Pass/Non Pass</h6>
                </a>
                <div class="collapse show" id="collapsepass_nonpass">
                    <div class="card-body">
                        <div id="donut_pass_nonpass"></div>
                    </div>
                </div>
            </div>
        </div> 
               
    </div>

    <div class="row">
        <div class="col mb-1">
            <div class="card shadow mb-4">
                <a href="#collapsepass_barchartnonpass" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapsepass_barchartnonpass">
                    <h6 class="m-0 font-weight-bold text-primary">Detail Pass/Non Pass</h6>
                </a>
                <div class="collapse show" id="collapsepass_barchartnonpass">
                    <div class="card-body mb-4">
                        <div id="barchart_pass_nonpass" style="height:60rem"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>*@

<div class="container-fluid">
    <h1 class="h5 mb-1 text-gray-800">Finish Good Stock</h1>
    <p class="mb-4">
        Total Finish Good : @ViewBag.strTotalFinishgood MTR
    </p>   

        @*<div class="col-6 col-md-4 mb-1">
            <div class="card shadow">
                <a href="#collapseDonutrspunpoly" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseDonuttrspunpoly">
                    <h6 class="m-0 font-weight-bold text-primary">TR Spun Poly</h6>
                </a>
                <div class="collapse show" id="collapseDonutrspunpoly">
                    <div class="card-body">
                        <div id="donut_trspunpoly"></div>
                    </div>
                </div>
            </div>
        </div>*@

        @*<div class="col-6 col-md-4 mb-1">
            <div class="card shadow ">
                <a href="#collapseDonutdom_exp" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseDonutdom_exp">
                    <h6 class="m-0 font-weight-bold text-primary">Domestic Export</h6>
                </a>
                <div class="collapse show" id="collapseDonutdom_exp">
                    <div class="card-body">
                        <div id="donut_dom_exp"></div>
                    </div>
                </div>
            </div>

        </div>*@
    <div class="row">
        <div class="col-lg-8 mb-1">
            <div class="card shadow">
                <a href="#collapsepass_nonpass" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapsepass_nonpass">
                    <h6 class="m-0 font-weight-bold text-primary">Finish Good</h6>
                </a>
                <div class="collapse show" id="collapsepass_nonpass">
                    <div class="card-body">
                        <div id="donut_trspunpoly"></div>
                        <div id="donut_dom_exp"></div>
                        <div id="donut_pass_nonpass"></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-8 mb-1">
            <div class="card shadow mb-4">
                <a href="#collapsepass_barchartnonpass" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapsepass_barchartnonpass">
                    <h6 class="m-0 font-weight-bold text-primary">Detail Pass/Non Pass</h6>
                </a>
                <div class="collapse show" id="collapsepass_barchartnonpass">
                    <div class="card-body mb-4">
                        <div id="barchart_pass_nonpass" style="height:60rem"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
  

</div>

