@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    var donutchart_obj = '@ViewBag.strDonutChart';
    var donutJson = JSON.parse(donutchart_obj);

    var donutchartgrey_obj = '@ViewBag.strDonutChart_Grey';
    var donutJson_Grey = JSON.parse(donutchartgrey_obj);

    var donutchartPass_NonPass = '@ViewBag.strDonutChart_Pass_NonPass';
    var donutJson_Pass_NonPass = JSON.parse(donutchartPass_NonPass);
</script>

<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    //google.charts.load('current', { packages: ['corechart'] }).then(drawChart);
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Type');
        data.addColumn('number', 'Value');
        data.addRows(donutJson);

        var DonutChart_options =
        {
            //title: 'Yarn Stock',
            //backgroundColor: '#e5e5e5',
            chartArea: { width: '100%', height: '80%' },
            legend: "bottom",
            pieHole: 0.5,
            colors: ['#dc3912', '#3366cc']
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, DonutChart_options);


        var DonutChartGrey_Data = new google.visualization.DataTable();
        DonutChartGrey_Data.addColumn('string', 'Grade');
        DonutChartGrey_Data.addColumn('number', 'Value');
        DonutChartGrey_Data.addRows(donutJson_Grey);

        var GreyDonut_options =
       {
           //title: 'Yarn Stock',    

           //backgroundColor: '#e5e5e5',
           chartArea: { width: '100%', height: '80%' },
           legend: 'bottom',
           pieHole: 0.5,
           //colors: ['#dc3912', '#3366cc']
       };

        var chart = new google.visualization.PieChart(document.getElementById('donutchartGreyStock'));
        chart.draw(DonutChartGrey_Data, GreyDonut_options);

        //Pass_NonPass
        var Donut_Pass_NonPass = new google.visualization.DataTable();
        Donut_Pass_NonPass.addColumn('string', 'Grade');
        Donut_Pass_NonPass.addColumn('number', 'Value');
        Donut_Pass_NonPass.addRows(donutJson_Pass_NonPass);
        Donut_Pass_NonPass.getFilteredRows([{ column: 1, minValue: 0.00001 }]);

        var Donut_Pass_NonPass_options =
       {
           chartArea: { width: '100%', height: '80%' },
           legend: {
               //textStyle: { fontSize: 14 },
               position: 'bottom',
               maxLines: 20

           },
           pieHole: 0.5,
           //colors: ['#dc3912', '#3366cc']
       };

        var chart = new google.visualization.PieChart(document.getElementById('donut_pass_nonpass'));
        chart.draw(Donut_Pass_NonPass, Donut_Pass_NonPass_options);
    
    };

    //window.addEventListener('resize', drawChart, false);
  
 </script>

<div class="jumbotron">
    <h1>ISTEM MOBILE SYSTEM</h1>
    <p class="lead">Dashboard Yarn, Grey, Finishgoods Stock</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Yarn</h2>
            <div id="donutchart"></div>
            <br>
            <p>@Html.ActionLink("More Details", "Index", "YarnStock", "", new { @class = "btn btn-primary" })</p>
            <br>
        </div>

        <div class="col-md-4" >
            <h2>Grey</h2>
            <div id="donutchartGreyStock"></div>
            <br>
            <p>@Html.ActionLink("More Details", "Index", "GreyStock", "", new { @class = "btn btn-primary" })</p>
            <br>
        </div>

        <div class="col-md-4" >
            <h2>Finishgoods</h2>
            <div id="donut_pass_nonpass"></div>
            <br>
            <p>@Html.ActionLink("More Details", "Index", "Finishgoods", "", new { @class = "btn btn-primary" })</p>
        </div>
    </div>

</div>

@*<div class="container">
    <div class="jumbotron">
        <h1>ISTEM MOBILE SYSTEM</h1>
        <p class="lead">Dashboard Yarn, Grey, Finishgoods Stock</p>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h4>Yarn Stock</h4>
            <div class="card card-price">
                <div class="card-body">
                    <div class="details">
                    <div id="donutchart"></div>                    
                    <a href="#" class="btn btn-primary btn-lg btn-block buy-now">
                        More Details <span class="glyphicon glyphicon-triangle-right"></span>
                    </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <h4>Grey Stock</h4>
            <div class="card card-price">
                <div class="card-body">
                    <div class="details">
                        <div id="donutchartGreyStock"></div>
                        <a href="#" class="btn btn-primary btn-lg btn-block buy-now">
                            More Details <span class="glyphicon glyphicon-triangle-right"></span>
                        </a>
                    </div>

            </div>
        </div>
    </div>

</div>
    </div>*@
         


@*@Styles.Render("~/CustomCSS")*@