@model IEnumerable<ISM_MAINTENANCE.Models.DB.vw_ms_maintenance_action_preventive>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int line = 0;
    string space = " | ";
}

@using (Html.BeginForm())
{
    <div class="card">
        <div class="card-header bg-primary">
            <div class="text-white fs-6 fw-bold"><i class="ti ti-filter"> </i>Filter Data</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Action Name</label>
                </div>
                <div class="col-md-4">
                    @*<input class="form-control" id="mtcAction" name="mtcAction" autocomplete="off" value="@ViewBag.mtcAction" />*@

                    @Html.DropDownList("mtcAction", new SelectList(ViewBag.msAction, "Value", "Text", ViewBag.mtcAction), "-- ALL --", new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="form-control btn btn-primary">
                        <i class="ti ti-search"></i> Search
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<div class="card">
    <div class="card-header bg-primary">
        <div class="text-white fs-6 fw-bold"><i class="ti ti-package"> </i>Maintenance Action - Quality Trouble - Index</div>
    </div>
    <div class="card-body">
        <div class="col-md-4 col-xl-3 mb-2">
            <a class="btn btn-outline-primary" href="@Url.Action("Create", "MaintenanceActionPreventive")">
                <i class="ti ti-text-plus"></i> Add New
            </a>
            <a href="@Url.Action("Welcome", "Home" )" class="btn btn-rounded btn-outline-dark align-content-center" style="margin-left:8px"><i class="ti ti-home"></i> Home</a>
        </div>
        <div class="table-responsive">
            <table id="indexTable" class="table search-table table-sm  align-middle text-nowrap" style="color:black;">
                <thead class="header-item">
                    <tr>
                        <th>
                            No.
                        </th>
                        <th>
                            Department
                        </th>
                        <th>
                            Machine
                        </th>
                        <th>
                            MTC Action Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center;">
                                @(line = line + 1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.department)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.machine)
                            </td>                            
                            <td>
                                @Html.DisplayFor(modelItem => item.mtcActionName)
                            </td>
                            <td>
                                <a title="Edit" class="badge rounded-pill bg-primary-subtle text-primary" href="@Url.Action("Edit","MaintenanceActionPreventive", new { dept = item.dept_id, mc = item.mc_id, mtc = item.mtc_id, trouble = item.trouble_id, act = item.mtc_action_id })">Edit</a>
                                @if (item.transactionUse == 0)
                                {
                                    @space <a title="Delete" class="badge rounded-pill bg-danger-subtle text-danger" href="@Url.Action("Delete","MaintenanceActionPreventive", new { dept = item.dept_id, mc = item.mc_id, mtc = item.mtc_id, trouble = item.trouble_id, act = item.mtc_action_id })">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="card-footer">
        </div>
    </div>
</div>

<script src="~/Content/libs/jquery/dist/jquery.min.js"></script>
<script src="~/Content/libs/jquery/dist/jquery.js"></script>

<!-- Datatables.Net -->
<script src="~/Content/js/Datatables.Net/jquery-3.7.1.js"></script>
<script src="~/Content/js/Datatables.Net/bootstrap.bundle.min.js"></script>
<script src="~/Content/js/Datatables.Net/dataTables.js"></script>
<script src="~/Content/js/Datatables.Net/dataTables.bootstrap5.js"></script>
<!-- Datatables.Net -->

<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Content/js/select2.min.js"></script>

<script type="text/javascript">

    $("#mtcAction").select2({ width: '100%' });

    $('#indexTable').DataTable({
        pageLength: 10,
        info: false,
        lengthChange: false,
        layout:
        {
            bottomEnd: {
                paging: {
                    type: 'simple_numbers'
                }
            }

        }
    });

</script>
